{{#data}}

{{icon}} Pull request {{action}} <code>#{{pull_req_number}}</code> 

{{description}}

Action: <code>{{action}}</code>
Branch: <code>{{branch}}</code>
User: <a href="https://github.com/{{repo_name}}">{{repo_name}}</a>

{{/data}}
